<% if(params[:action]=='edit' || params[:action]=='update') %>
    <%sUrl =  direct_cameras_update_path
      sAction = 'Update'
    %>
<% else %>
    <%sUrl =  direct_cameras_create_path
      sAction = 'Save'%>
<% end %>

<%= form_for(@vms, url: sUrl) do |f| %>
    <% if @vms.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h2><%= pluralize(@vms.errors.count, "Error") %> prohibited this camera details from being saved:</h2>
          <ul>
            <% @vms.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :camera_url, 'Camera Stream URL'%>
      <br>
      <%= f.text_field :camera_url, {:disabled => params[:action]=="edit"}%>
    </div>
    <div class="field">
      <%= f.label :vms_connector_id, 'Camera connector'%>
      <br>
      <%= f.collection_select(:vms_connector_id, VmsConnector.where("verified = ? AND connector_type = ?", 1, 'direct_ip_camera'), :id, :name, {prompt: 'Select Connector Type'}, {:disabled => params[:action]=="edit"}) %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit sAction, :class => "btn btn-success btn-mini" %>
      <%= link_to 'Cancel', direct_cameras_path, :class => "btn btn-danger" %>
    </div>
<% end %>

<br>
<% if(params[:action]=='edit' || params[:action]=='update') %>
<div>
  <strong>Changing camera stream URL or camera connector type:</strong> <br>
  If you need to change the camera stream URL or camera connector type, please
  <%= link_to 'Delete',direct_cameras_destroy_path(@vms), method: :delete, :class => "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' } %>
  the current camera and re-create a new one.
</div>
<% end %>


<%#=params%>
